{% extends "KuizuFrontBundle::layout.html.twig" %}

{% block content -%}
    <h1>Question creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('kuizu_admin_question') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
