{% extends "KuizuFrontBundle::layout.html.twig" %}

{% block content -%}
    <h1>Manga edit</h1>

    <img src="{{ asset(entity.imageWebPath) }}" />
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('kuizu_admin_manga') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
