{% extends 'KuizuFrontBundle::layout.html.twig' %}

{% block title %}KuizuGameBundle:Game:play{% endblock %}

{% block content %}

<h1>Welcome to the Game:play page</h1>
{{ form(choice_form) }}

{{ question.wording }}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {{ form(game_form) }}
{% else %}
    <p>Vous devez vous authentifier pour pouvoir essayer de répondre</p>
{% endif %}

{% endblock %}
